@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.menu-list__content__items__item, .explanation ul li, .footer__contact, .footer__legal-notice, .footer__become-partner, .footer__suggest_restaurant, .header__icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.menu-list__content__items__item__select, .geolocation, .footer__become-partner i, .footer__suggest_restaurant i, .header__logo, .spinner, .like, .dot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.menu-list__header, .restaurants ul li figure figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu-list__content__items__item__content, .footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.menu-list__order, .explore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.menu-list, .restaurants, .explanation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.menu-list__content__items__item__amount {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

@media screen and (min-width: 1080px) {
  body {
    width: 1080px;
    margin: auto;
  }
}
body {
  font-family: "Roboto", "Courier New", Courier, monospace;
}

.main-btn {
  height: 40px;
  padding: 0px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 5px 3px #cecece;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  font-size: 13px;
  font-weight: 600;
}
.main-btn:hover {
  box-shadow: 0px 3px 3px #747574;
  background-image: linear-gradient(170deg, #ff88de, #9b63df);
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
  font-size: 12px;
}

.like {
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0px;
  border: none;
  cursor: pointer;
  background-color: white;
}
.like__bottom {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: linear-gradient(170deg, #9356DC, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.like__top {
  position: absolute;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background-color: inherit;
  color: #303030;
  -webkit-clip-path: inset(0% 0% 0% 0%);
          clip-path: inset(0% 0% 0% 0%);
  transition: -webkit-clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out;
  transition: clip-path 1s ease-in-out, -webkit-clip-path 1s ease-in-out;
}
.like:focus .like__top {
  -webkit-clip-path: inset(0% 0% 100% 0%);
          clip-path: inset(0% 0% 100% 0%);
}

.spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: #f3ebfe;
  -webkit-animation: hide-spinner 500ms ease-in-out 2.5s forwards;
          animation: hide-spinner 500ms ease-in-out 2.5s forwards;
}
.spinner i {
  color: #9356DC;
  font-size: 120px;
  -webkit-animation: spinner 1.5s ease-in-out 0s 2;
          animation: spinner 1.5s ease-in-out 0s 2;
}

@-webkit-keyframes spinner {
  0% {
    transform: scale(1, 1);
  }
  70% {
    transform: scale(1.2, 0.7);
  }
  80% {
    transform: scale(0.8, 1.2);
  }
  85% {
    transform: scale(1.15, 0.85);
  }
  90% {
    transform: scale(0.9, 1.1);
  }
  95% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes spinner {
  0% {
    transform: scale(1, 1);
  }
  70% {
    transform: scale(1.2, 0.7);
  }
  80% {
    transform: scale(0.8, 1.2);
  }
  85% {
    transform: scale(1.15, 0.85);
  }
  90% {
    transform: scale(0.9, 1.1);
  }
  95% {
    transform: scale(1.05, 0.95);
  }
  100% {
    transform: scale(1, 1);
  }
}
@-webkit-keyframes hide-spinner {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}
@keyframes hide-spinner {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0, 0);
  }
}
.header {
  height: 60px;
}
.header__icon {
  width: 15%;
  padding-left: 22px;
  color: #303030;
}
.header__logo {
  width: 70%;
}
.header__logo img {
  height: 30px;
}
.header__filler {
  width: 15%;
}

.footer__contact, .footer__legal-notice, .footer__become-partner, .footer__suggest_restaurant {
  height: 25px;
}

.footer {
  background-color: #303030;
  color: white;
  font-size: 14px;
  padding: 20px;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__logo img {
  height: 15px;
}
.footer__suggest_restaurant i {
  width: 20px;
  margin-right: 5px;
}
.footer__become-partner i {
  width: 20px;
  margin-right: 5px;
}
.footer a {
  color: white;
}

.explanation {
  padding: 30px 15px;
}
@media screen and (min-width: 1080px) {
  .explanation {
    padding: 30px 0px;
  }
}
.explanation h1 {
  font-size: 20px;
  font-weight: 700;
}
.explanation ul {
  padding: 0px 10px;
}
@media screen and (min-width: 1080px) {
  .explanation ul {
    padding: 0px 0px 0px 10px;
  }
}
.explanation ul li {
  height: 60px;
  margin: 20px 0px;
  box-shadow: 0px 5px 5px #e7e7e7;
  background-color: #f5f5f5;
  border-radius: 15px;
}
.explanation ul li .dot {
  position: relative;
  left: -10px;
}
.explanation ul li i {
  width: 35px;
  margin-left: 5px;
  color: #747574;
}
.explanation ul li p {
  font-size: 14px;
  font-weight: 500;
}
.explanation ul li:hover {
  background-color: #f3ebfe;
}
.explanation ul li:hover i {
  color: #9356DC;
}

.explore {
  padding: 30px;
  background-color: #f5f5f5;
}
@media screen and (min-width: 1080px) {
  .explore {
    border-radius: 0px 0px 30px 30px;
  }
}
.explore h1 {
  text-align: center;
  width: 230px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.explore p {
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
  color: #303030;
  font-size: 16px;
  font-weight: 300;
}

.geolocation {
  height: 40px;
  box-shadow: inset 0px 2px 2px #cecece;
  background-color: #e7e7e7;
  color: #303030;
  font-size: 14px;
  font-weight: 500;
}
@media screen and (min-width: 1080px) {
  .geolocation {
    border-radius: 30px 30px 0px 0px;
  }
}
.geolocation i {
  width: 25px;
}
.geolocation__filler {
  width: 25px;
}

.restaurants {
  padding: 30px 15px;
  background-color: #f5f5f5;
}
@media screen and (min-width: 1080px) {
  .restaurants {
    border-radius: 30px 30px 0px 0px;
  }
}
.restaurants h1 {
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 700px) {
  .restaurants ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.restaurants ul li {
  position: relative;
  margin: 20px 0px;
}
@media screen and (min-width: 700px) {
  .restaurants ul li {
    width: 49%;
  }
}
.restaurants ul li .new-restaurant::before {
  content: "Nouveau";
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 10px;
  border-radius: 2px;
  background-color: #99E2D0;
  color: #277d5e;
  font-size: 11px;
  font-weight: 500;
}
.restaurants ul li figure {
  border-radius: 15px;
  box-shadow: 0px 7px 7px #e7e7e7;
  background-color: white;
}
.restaurants ul li figure a {
  display: block;
}
.restaurants ul li figure a img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
@media screen and (min-width: 700px) {
  .restaurants ul li figure a img {
    height: 250px;
  }
}
.restaurants ul li figure figcaption {
  padding: 10px;
}
.restaurants ul li figure figcaption a {
  width: 100%;
}
.restaurants ul li figure figcaption a div h2 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}
.restaurants ul li figure figcaption a div p {
  font-size: 13px;
  font-weight: 300;
}
.restaurants ul li figure figcaption button {
  margin-right: 10px;
}

.menu-image {
  height: 200px;
}
@media screen and (min-width: 700px) {
  .menu-image {
    height: 400px;
  }
}
.menu-image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 700px) {
  .menu-image img {
    height: 400px;
  }
}

.menu-list {
  position: relative;
  padding: 0px 15px;
  background-color: #f5f5f5;
}
.menu-list::before {
  content: "";
  position: absolute;
  top: -25px;
  left: 0px;
  width: 100%;
  height: 25px;
  background-color: #f5f5f5;
  border-radius: 30px 30px 0px 0px;
}
.menu-list__header {
  margin-bottom: 30px;
  font-family: "Shrikhand", "Courier New", Courier, monospace;
}
.menu-list__header h1 {
  font-size: 24px;
  font-weight: 500;
}
.menu-list__header button {
  margin-right: 20px;
  background-color: #f5f5f5;
}
@media screen and (min-width: 700px) {
  .menu-list__content {
    display: flex;
    justify-content: space-between;
  }
}
.menu-list__content__items {
  margin-bottom: 30px;
}
@media screen and (min-width: 700px) {
  .menu-list__content__items {
    width: 32%;
  }
}
.menu-list__content__items h2 {
  position: relative;
  margin-bottom: 20px;
  color: #303030;
  text-transform: uppercase;
  font-size: 14px;
}
.menu-list__content__items h2::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0px;
  width: 40px;
  border-bottom: solid 3px #99E2D0;
}
.menu-list__content__items__item {
  height: 65px;
  margin: 10px 0px;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0px 7px 7px #e7e7e7;
  background-color: white;
}
.menu-list__content__items__item__content {
  flex-grow: 1;
  height: 100%;
  padding: 15px 5px 15px 15px;
  overflow: hidden;
}
.menu-list__content__items__item__content h3 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 14px;
  font-weight: 500;
}
.menu-list__content__items__item__content p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 12px;
  font-weight: 300;
}
.menu-list__content__items__item__amount {
  height: 100%;
  padding: 15px 15px 15px 5px;
  font-size: 14px;
  font-weight: 500;
}
.menu-list__content__items__item__select {
  width: 60px;
  height: 100%;
  margin: 0px -60px 0px 0px;
  transition: margin 250ms ease-in-out;
  background-color: #99E2D0;
}
.menu-list__content__items__item__select i {
  font-size: 22px;
  color: white;
}
.menu-list__content__items__item:hover .menu-list__content__items__item__select {
  margin: 0px 0px 0px 0px;
}
.menu-list__content__items__item:hover .menu-list__content__items__item__select i {
  -webkit-animation: select 150ms ease-in-out 100ms;
          animation: select 150ms ease-in-out 100ms;
}
.menu-list__content__items:nth-child(1) .menu-list__content__items__item:nth-child(1) {
  -webkit-animation: loading 700ms ease-in-out -350ms backwards;
          animation: loading 700ms ease-in-out -350ms backwards;
}
.menu-list__content__items:nth-child(1) .menu-list__content__items__item:nth-child(2) {
  -webkit-animation: loading 700ms ease-in-out -200ms backwards;
          animation: loading 700ms ease-in-out -200ms backwards;
}
.menu-list__content__items:nth-child(1) .menu-list__content__items__item:nth-child(3) {
  -webkit-animation: loading 700ms ease-in-out -50ms backwards;
          animation: loading 700ms ease-in-out -50ms backwards;
}
.menu-list__content__items:nth-child(1) .menu-list__content__items__item:nth-child(4) {
  -webkit-animation: loading 700ms ease-in-out 100ms backwards;
          animation: loading 700ms ease-in-out 100ms backwards;
}
.menu-list__content__items:nth-child(1) .menu-list__content__items__item:nth-child(5) {
  -webkit-animation: loading 700ms ease-in-out 250ms backwards;
          animation: loading 700ms ease-in-out 250ms backwards;
}
.menu-list__content__items:nth-child(1) .menu-list__content__items__item:nth-child(6) {
  -webkit-animation: loading 700ms ease-in-out 400ms backwards;
          animation: loading 700ms ease-in-out 400ms backwards;
}
.menu-list__content__items:nth-child(1) .menu-list__content__items__item:nth-child(7) {
  -webkit-animation: loading 700ms ease-in-out 550ms backwards;
          animation: loading 700ms ease-in-out 550ms backwards;
}
.menu-list__content__items:nth-child(1) .menu-list__content__items__item:nth-child(8) {
  -webkit-animation: loading 700ms ease-in-out 700ms backwards;
          animation: loading 700ms ease-in-out 700ms backwards;
}
.menu-list__content__items:nth-child(1) .menu-list__content__items__item:nth-child(9) {
  -webkit-animation: loading 700ms ease-in-out 850ms backwards;
          animation: loading 700ms ease-in-out 850ms backwards;
}
.menu-list__content__items:nth-child(1) .menu-list__content__items__item:nth-child(10) {
  -webkit-animation: loading 700ms ease-in-out 1000ms backwards;
          animation: loading 700ms ease-in-out 1000ms backwards;
}
.menu-list__content__items:nth-child(2) .menu-list__content__items__item:nth-child(1) {
  -webkit-animation: loading 700ms ease-in-out 150ms backwards;
          animation: loading 700ms ease-in-out 150ms backwards;
}
.menu-list__content__items:nth-child(2) .menu-list__content__items__item:nth-child(2) {
  -webkit-animation: loading 700ms ease-in-out 300ms backwards;
          animation: loading 700ms ease-in-out 300ms backwards;
}
.menu-list__content__items:nth-child(2) .menu-list__content__items__item:nth-child(3) {
  -webkit-animation: loading 700ms ease-in-out 450ms backwards;
          animation: loading 700ms ease-in-out 450ms backwards;
}
.menu-list__content__items:nth-child(2) .menu-list__content__items__item:nth-child(4) {
  -webkit-animation: loading 700ms ease-in-out 600ms backwards;
          animation: loading 700ms ease-in-out 600ms backwards;
}
.menu-list__content__items:nth-child(2) .menu-list__content__items__item:nth-child(5) {
  -webkit-animation: loading 700ms ease-in-out 750ms backwards;
          animation: loading 700ms ease-in-out 750ms backwards;
}
.menu-list__content__items:nth-child(2) .menu-list__content__items__item:nth-child(6) {
  -webkit-animation: loading 700ms ease-in-out 900ms backwards;
          animation: loading 700ms ease-in-out 900ms backwards;
}
.menu-list__content__items:nth-child(2) .menu-list__content__items__item:nth-child(7) {
  -webkit-animation: loading 700ms ease-in-out 1050ms backwards;
          animation: loading 700ms ease-in-out 1050ms backwards;
}
.menu-list__content__items:nth-child(2) .menu-list__content__items__item:nth-child(8) {
  -webkit-animation: loading 700ms ease-in-out 1200ms backwards;
          animation: loading 700ms ease-in-out 1200ms backwards;
}
.menu-list__content__items:nth-child(2) .menu-list__content__items__item:nth-child(9) {
  -webkit-animation: loading 700ms ease-in-out 1350ms backwards;
          animation: loading 700ms ease-in-out 1350ms backwards;
}
.menu-list__content__items:nth-child(2) .menu-list__content__items__item:nth-child(10) {
  -webkit-animation: loading 700ms ease-in-out 1500ms backwards;
          animation: loading 700ms ease-in-out 1500ms backwards;
}
.menu-list__content__items:nth-child(3) .menu-list__content__items__item:nth-child(1) {
  -webkit-animation: loading 700ms ease-in-out 650ms backwards;
          animation: loading 700ms ease-in-out 650ms backwards;
}
.menu-list__content__items:nth-child(3) .menu-list__content__items__item:nth-child(2) {
  -webkit-animation: loading 700ms ease-in-out 800ms backwards;
          animation: loading 700ms ease-in-out 800ms backwards;
}
.menu-list__content__items:nth-child(3) .menu-list__content__items__item:nth-child(3) {
  -webkit-animation: loading 700ms ease-in-out 950ms backwards;
          animation: loading 700ms ease-in-out 950ms backwards;
}
.menu-list__content__items:nth-child(3) .menu-list__content__items__item:nth-child(4) {
  -webkit-animation: loading 700ms ease-in-out 1100ms backwards;
          animation: loading 700ms ease-in-out 1100ms backwards;
}
.menu-list__content__items:nth-child(3) .menu-list__content__items__item:nth-child(5) {
  -webkit-animation: loading 700ms ease-in-out 1250ms backwards;
          animation: loading 700ms ease-in-out 1250ms backwards;
}
.menu-list__content__items:nth-child(3) .menu-list__content__items__item:nth-child(6) {
  -webkit-animation: loading 700ms ease-in-out 1400ms backwards;
          animation: loading 700ms ease-in-out 1400ms backwards;
}
.menu-list__content__items:nth-child(3) .menu-list__content__items__item:nth-child(7) {
  -webkit-animation: loading 700ms ease-in-out 1550ms backwards;
          animation: loading 700ms ease-in-out 1550ms backwards;
}
.menu-list__content__items:nth-child(3) .menu-list__content__items__item:nth-child(8) {
  -webkit-animation: loading 700ms ease-in-out 1700ms backwards;
          animation: loading 700ms ease-in-out 1700ms backwards;
}
.menu-list__content__items:nth-child(3) .menu-list__content__items__item:nth-child(9) {
  -webkit-animation: loading 700ms ease-in-out 1850ms backwards;
          animation: loading 700ms ease-in-out 1850ms backwards;
}
.menu-list__content__items:nth-child(3) .menu-list__content__items__item:nth-child(10) {
  -webkit-animation: loading 700ms ease-in-out 2000ms backwards;
          animation: loading 700ms ease-in-out 2000ms backwards;
}
.menu-list__content__items:nth-child(4) .menu-list__content__items__item:nth-child(1) {
  -webkit-animation: loading 700ms ease-in-out 1150ms backwards;
          animation: loading 700ms ease-in-out 1150ms backwards;
}
.menu-list__content__items:nth-child(4) .menu-list__content__items__item:nth-child(2) {
  -webkit-animation: loading 700ms ease-in-out 1300ms backwards;
          animation: loading 700ms ease-in-out 1300ms backwards;
}
.menu-list__content__items:nth-child(4) .menu-list__content__items__item:nth-child(3) {
  -webkit-animation: loading 700ms ease-in-out 1450ms backwards;
          animation: loading 700ms ease-in-out 1450ms backwards;
}
.menu-list__content__items:nth-child(4) .menu-list__content__items__item:nth-child(4) {
  -webkit-animation: loading 700ms ease-in-out 1600ms backwards;
          animation: loading 700ms ease-in-out 1600ms backwards;
}
.menu-list__content__items:nth-child(4) .menu-list__content__items__item:nth-child(5) {
  -webkit-animation: loading 700ms ease-in-out 1750ms backwards;
          animation: loading 700ms ease-in-out 1750ms backwards;
}
.menu-list__content__items:nth-child(4) .menu-list__content__items__item:nth-child(6) {
  -webkit-animation: loading 700ms ease-in-out 1900ms backwards;
          animation: loading 700ms ease-in-out 1900ms backwards;
}
.menu-list__content__items:nth-child(4) .menu-list__content__items__item:nth-child(7) {
  -webkit-animation: loading 700ms ease-in-out 2050ms backwards;
          animation: loading 700ms ease-in-out 2050ms backwards;
}
.menu-list__content__items:nth-child(4) .menu-list__content__items__item:nth-child(8) {
  -webkit-animation: loading 700ms ease-in-out 2200ms backwards;
          animation: loading 700ms ease-in-out 2200ms backwards;
}
.menu-list__content__items:nth-child(4) .menu-list__content__items__item:nth-child(9) {
  -webkit-animation: loading 700ms ease-in-out 2350ms backwards;
          animation: loading 700ms ease-in-out 2350ms backwards;
}
.menu-list__content__items:nth-child(4) .menu-list__content__items__item:nth-child(10) {
  -webkit-animation: loading 700ms ease-in-out 2500ms backwards;
          animation: loading 700ms ease-in-out 2500ms backwards;
}
.menu-list__content__items:nth-child(5) .menu-list__content__items__item:nth-child(1) {
  -webkit-animation: loading 700ms ease-in-out 1650ms backwards;
          animation: loading 700ms ease-in-out 1650ms backwards;
}
.menu-list__content__items:nth-child(5) .menu-list__content__items__item:nth-child(2) {
  -webkit-animation: loading 700ms ease-in-out 1800ms backwards;
          animation: loading 700ms ease-in-out 1800ms backwards;
}
.menu-list__content__items:nth-child(5) .menu-list__content__items__item:nth-child(3) {
  -webkit-animation: loading 700ms ease-in-out 1950ms backwards;
          animation: loading 700ms ease-in-out 1950ms backwards;
}
.menu-list__content__items:nth-child(5) .menu-list__content__items__item:nth-child(4) {
  -webkit-animation: loading 700ms ease-in-out 2100ms backwards;
          animation: loading 700ms ease-in-out 2100ms backwards;
}
.menu-list__content__items:nth-child(5) .menu-list__content__items__item:nth-child(5) {
  -webkit-animation: loading 700ms ease-in-out 2250ms backwards;
          animation: loading 700ms ease-in-out 2250ms backwards;
}
.menu-list__content__items:nth-child(5) .menu-list__content__items__item:nth-child(6) {
  -webkit-animation: loading 700ms ease-in-out 2400ms backwards;
          animation: loading 700ms ease-in-out 2400ms backwards;
}
.menu-list__content__items:nth-child(5) .menu-list__content__items__item:nth-child(7) {
  -webkit-animation: loading 700ms ease-in-out 2550ms backwards;
          animation: loading 700ms ease-in-out 2550ms backwards;
}
.menu-list__content__items:nth-child(5) .menu-list__content__items__item:nth-child(8) {
  -webkit-animation: loading 700ms ease-in-out 2700ms backwards;
          animation: loading 700ms ease-in-out 2700ms backwards;
}
.menu-list__content__items:nth-child(5) .menu-list__content__items__item:nth-child(9) {
  -webkit-animation: loading 700ms ease-in-out 2850ms backwards;
          animation: loading 700ms ease-in-out 2850ms backwards;
}
.menu-list__content__items:nth-child(5) .menu-list__content__items__item:nth-child(10) {
  -webkit-animation: loading 700ms ease-in-out 3000ms backwards;
          animation: loading 700ms ease-in-out 3000ms backwards;
}
.menu-list__content__items:nth-child(6) .menu-list__content__items__item:nth-child(1) {
  -webkit-animation: loading 700ms ease-in-out 2150ms backwards;
          animation: loading 700ms ease-in-out 2150ms backwards;
}
.menu-list__content__items:nth-child(6) .menu-list__content__items__item:nth-child(2) {
  -webkit-animation: loading 700ms ease-in-out 2300ms backwards;
          animation: loading 700ms ease-in-out 2300ms backwards;
}
.menu-list__content__items:nth-child(6) .menu-list__content__items__item:nth-child(3) {
  -webkit-animation: loading 700ms ease-in-out 2450ms backwards;
          animation: loading 700ms ease-in-out 2450ms backwards;
}
.menu-list__content__items:nth-child(6) .menu-list__content__items__item:nth-child(4) {
  -webkit-animation: loading 700ms ease-in-out 2600ms backwards;
          animation: loading 700ms ease-in-out 2600ms backwards;
}
.menu-list__content__items:nth-child(6) .menu-list__content__items__item:nth-child(5) {
  -webkit-animation: loading 700ms ease-in-out 2750ms backwards;
          animation: loading 700ms ease-in-out 2750ms backwards;
}
.menu-list__content__items:nth-child(6) .menu-list__content__items__item:nth-child(6) {
  -webkit-animation: loading 700ms ease-in-out 2900ms backwards;
          animation: loading 700ms ease-in-out 2900ms backwards;
}
.menu-list__content__items:nth-child(6) .menu-list__content__items__item:nth-child(7) {
  -webkit-animation: loading 700ms ease-in-out 3050ms backwards;
          animation: loading 700ms ease-in-out 3050ms backwards;
}
.menu-list__content__items:nth-child(6) .menu-list__content__items__item:nth-child(8) {
  -webkit-animation: loading 700ms ease-in-out 3200ms backwards;
          animation: loading 700ms ease-in-out 3200ms backwards;
}
.menu-list__content__items:nth-child(6) .menu-list__content__items__item:nth-child(9) {
  -webkit-animation: loading 700ms ease-in-out 3350ms backwards;
          animation: loading 700ms ease-in-out 3350ms backwards;
}
.menu-list__content__items:nth-child(6) .menu-list__content__items__item:nth-child(10) {
  -webkit-animation: loading 700ms ease-in-out 3500ms backwards;
          animation: loading 700ms ease-in-out 3500ms backwards;
}
.menu-list__content__items:nth-child(7) .menu-list__content__items__item:nth-child(1) {
  -webkit-animation: loading 700ms ease-in-out 2650ms backwards;
          animation: loading 700ms ease-in-out 2650ms backwards;
}
.menu-list__content__items:nth-child(7) .menu-list__content__items__item:nth-child(2) {
  -webkit-animation: loading 700ms ease-in-out 2800ms backwards;
          animation: loading 700ms ease-in-out 2800ms backwards;
}
.menu-list__content__items:nth-child(7) .menu-list__content__items__item:nth-child(3) {
  -webkit-animation: loading 700ms ease-in-out 2950ms backwards;
          animation: loading 700ms ease-in-out 2950ms backwards;
}
.menu-list__content__items:nth-child(7) .menu-list__content__items__item:nth-child(4) {
  -webkit-animation: loading 700ms ease-in-out 3100ms backwards;
          animation: loading 700ms ease-in-out 3100ms backwards;
}
.menu-list__content__items:nth-child(7) .menu-list__content__items__item:nth-child(5) {
  -webkit-animation: loading 700ms ease-in-out 3250ms backwards;
          animation: loading 700ms ease-in-out 3250ms backwards;
}
.menu-list__content__items:nth-child(7) .menu-list__content__items__item:nth-child(6) {
  -webkit-animation: loading 700ms ease-in-out 3400ms backwards;
          animation: loading 700ms ease-in-out 3400ms backwards;
}
.menu-list__content__items:nth-child(7) .menu-list__content__items__item:nth-child(7) {
  -webkit-animation: loading 700ms ease-in-out 3550ms backwards;
          animation: loading 700ms ease-in-out 3550ms backwards;
}
.menu-list__content__items:nth-child(7) .menu-list__content__items__item:nth-child(8) {
  -webkit-animation: loading 700ms ease-in-out 3700ms backwards;
          animation: loading 700ms ease-in-out 3700ms backwards;
}
.menu-list__content__items:nth-child(7) .menu-list__content__items__item:nth-child(9) {
  -webkit-animation: loading 700ms ease-in-out 3850ms backwards;
          animation: loading 700ms ease-in-out 3850ms backwards;
}
.menu-list__content__items:nth-child(7) .menu-list__content__items__item:nth-child(10) {
  -webkit-animation: loading 700ms ease-in-out 4000ms backwards;
          animation: loading 700ms ease-in-out 4000ms backwards;
}
.menu-list__content__items:nth-child(8) .menu-list__content__items__item:nth-child(1) {
  -webkit-animation: loading 700ms ease-in-out 3150ms backwards;
          animation: loading 700ms ease-in-out 3150ms backwards;
}
.menu-list__content__items:nth-child(8) .menu-list__content__items__item:nth-child(2) {
  -webkit-animation: loading 700ms ease-in-out 3300ms backwards;
          animation: loading 700ms ease-in-out 3300ms backwards;
}
.menu-list__content__items:nth-child(8) .menu-list__content__items__item:nth-child(3) {
  -webkit-animation: loading 700ms ease-in-out 3450ms backwards;
          animation: loading 700ms ease-in-out 3450ms backwards;
}
.menu-list__content__items:nth-child(8) .menu-list__content__items__item:nth-child(4) {
  -webkit-animation: loading 700ms ease-in-out 3600ms backwards;
          animation: loading 700ms ease-in-out 3600ms backwards;
}
.menu-list__content__items:nth-child(8) .menu-list__content__items__item:nth-child(5) {
  -webkit-animation: loading 700ms ease-in-out 3750ms backwards;
          animation: loading 700ms ease-in-out 3750ms backwards;
}
.menu-list__content__items:nth-child(8) .menu-list__content__items__item:nth-child(6) {
  -webkit-animation: loading 700ms ease-in-out 3900ms backwards;
          animation: loading 700ms ease-in-out 3900ms backwards;
}
.menu-list__content__items:nth-child(8) .menu-list__content__items__item:nth-child(7) {
  -webkit-animation: loading 700ms ease-in-out 4050ms backwards;
          animation: loading 700ms ease-in-out 4050ms backwards;
}
.menu-list__content__items:nth-child(8) .menu-list__content__items__item:nth-child(8) {
  -webkit-animation: loading 700ms ease-in-out 4200ms backwards;
          animation: loading 700ms ease-in-out 4200ms backwards;
}
.menu-list__content__items:nth-child(8) .menu-list__content__items__item:nth-child(9) {
  -webkit-animation: loading 700ms ease-in-out 4350ms backwards;
          animation: loading 700ms ease-in-out 4350ms backwards;
}
.menu-list__content__items:nth-child(8) .menu-list__content__items__item:nth-child(10) {
  -webkit-animation: loading 700ms ease-in-out 4500ms backwards;
          animation: loading 700ms ease-in-out 4500ms backwards;
}
.menu-list__content__items:nth-child(9) .menu-list__content__items__item:nth-child(1) {
  -webkit-animation: loading 700ms ease-in-out 3650ms backwards;
          animation: loading 700ms ease-in-out 3650ms backwards;
}
.menu-list__content__items:nth-child(9) .menu-list__content__items__item:nth-child(2) {
  -webkit-animation: loading 700ms ease-in-out 3800ms backwards;
          animation: loading 700ms ease-in-out 3800ms backwards;
}
.menu-list__content__items:nth-child(9) .menu-list__content__items__item:nth-child(3) {
  -webkit-animation: loading 700ms ease-in-out 3950ms backwards;
          animation: loading 700ms ease-in-out 3950ms backwards;
}
.menu-list__content__items:nth-child(9) .menu-list__content__items__item:nth-child(4) {
  -webkit-animation: loading 700ms ease-in-out 4100ms backwards;
          animation: loading 700ms ease-in-out 4100ms backwards;
}
.menu-list__content__items:nth-child(9) .menu-list__content__items__item:nth-child(5) {
  -webkit-animation: loading 700ms ease-in-out 4250ms backwards;
          animation: loading 700ms ease-in-out 4250ms backwards;
}
.menu-list__content__items:nth-child(9) .menu-list__content__items__item:nth-child(6) {
  -webkit-animation: loading 700ms ease-in-out 4400ms backwards;
          animation: loading 700ms ease-in-out 4400ms backwards;
}
.menu-list__content__items:nth-child(9) .menu-list__content__items__item:nth-child(7) {
  -webkit-animation: loading 700ms ease-in-out 4550ms backwards;
          animation: loading 700ms ease-in-out 4550ms backwards;
}
.menu-list__content__items:nth-child(9) .menu-list__content__items__item:nth-child(8) {
  -webkit-animation: loading 700ms ease-in-out 4700ms backwards;
          animation: loading 700ms ease-in-out 4700ms backwards;
}
.menu-list__content__items:nth-child(9) .menu-list__content__items__item:nth-child(9) {
  -webkit-animation: loading 700ms ease-in-out 4850ms backwards;
          animation: loading 700ms ease-in-out 4850ms backwards;
}
.menu-list__content__items:nth-child(9) .menu-list__content__items__item:nth-child(10) {
  -webkit-animation: loading 700ms ease-in-out 5000ms backwards;
          animation: loading 700ms ease-in-out 5000ms backwards;
}
.menu-list__content__items:nth-child(10) .menu-list__content__items__item:nth-child(1) {
  -webkit-animation: loading 700ms ease-in-out 4150ms backwards;
          animation: loading 700ms ease-in-out 4150ms backwards;
}
.menu-list__content__items:nth-child(10) .menu-list__content__items__item:nth-child(2) {
  -webkit-animation: loading 700ms ease-in-out 4300ms backwards;
          animation: loading 700ms ease-in-out 4300ms backwards;
}
.menu-list__content__items:nth-child(10) .menu-list__content__items__item:nth-child(3) {
  -webkit-animation: loading 700ms ease-in-out 4450ms backwards;
          animation: loading 700ms ease-in-out 4450ms backwards;
}
.menu-list__content__items:nth-child(10) .menu-list__content__items__item:nth-child(4) {
  -webkit-animation: loading 700ms ease-in-out 4600ms backwards;
          animation: loading 700ms ease-in-out 4600ms backwards;
}
.menu-list__content__items:nth-child(10) .menu-list__content__items__item:nth-child(5) {
  -webkit-animation: loading 700ms ease-in-out 4750ms backwards;
          animation: loading 700ms ease-in-out 4750ms backwards;
}
.menu-list__content__items:nth-child(10) .menu-list__content__items__item:nth-child(6) {
  -webkit-animation: loading 700ms ease-in-out 4900ms backwards;
          animation: loading 700ms ease-in-out 4900ms backwards;
}
.menu-list__content__items:nth-child(10) .menu-list__content__items__item:nth-child(7) {
  -webkit-animation: loading 700ms ease-in-out 5050ms backwards;
          animation: loading 700ms ease-in-out 5050ms backwards;
}
.menu-list__content__items:nth-child(10) .menu-list__content__items__item:nth-child(8) {
  -webkit-animation: loading 700ms ease-in-out 5200ms backwards;
          animation: loading 700ms ease-in-out 5200ms backwards;
}
.menu-list__content__items:nth-child(10) .menu-list__content__items__item:nth-child(9) {
  -webkit-animation: loading 700ms ease-in-out 5350ms backwards;
          animation: loading 700ms ease-in-out 5350ms backwards;
}
.menu-list__content__items:nth-child(10) .menu-list__content__items__item:nth-child(10) {
  -webkit-animation: loading 700ms ease-in-out 5500ms backwards;
          animation: loading 700ms ease-in-out 5500ms backwards;
}
.menu-list__order {
  margin-bottom: 30px;
}
.menu-list__order button {
  padding: 0px 40px;
}

@-webkit-keyframes select {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes select {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes loading {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}
@keyframes loading {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0px);
  }
}/*# sourceMappingURL=style.css.map */