@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
}

.explanation ul li, .footer__contact, .footer__legal-notice, .footer__become-partner, .footer__suggest_restaurant, .header__icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.geolocation, .footer__become-partner i, .footer__suggest_restaurant i, .header__logo, .dot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.restaurants ul li figure figcaption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.restaurants, .explanation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
}

a {
  color: black;
  text-decoration: none;
}

body {
  font-family: "Roboto", "Courier New", Courier, monospace;
}

.main-btn {
  height: 40px;
  padding: 0px 20px;
  border: none;
  border-radius: 30px;
  box-shadow: 0px 5px 3px #cecece;
  background-image: linear-gradient(170deg, #FF79DA, #9356DC);
  color: white;
  font-size: 13px;
  font-weight: 600;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #9356DC;
  color: white;
  font-size: 12px;
}

.header {
  height: 60px;
}
.header__icon {
  width: 15%;
  padding-left: 22px;
  color: #303030;
}
.header__logo {
  width: 70%;
}
.header__logo img {
  height: 30px;
}
.header__filler {
  width: 15%;
}

.footer__contact, .footer__legal-notice, .footer__become-partner, .footer__suggest_restaurant {
  height: 25px;
}

.footer {
  background-color: #303030;
  color: white;
  font-size: 14px;
  padding: 20px;
}
.footer__logo {
  margin-bottom: 10px;
}
.footer__logo img {
  height: 15px;
}
.footer__suggest_restaurant i {
  width: 20px;
  margin-right: 5px;
}
.footer__become-partner i {
  width: 20px;
  margin-right: 5px;
}
.footer a {
  color: white;
}

.explanation {
  padding: 30px 15px;
}
.explanation h1 {
  font-size: 20px;
  font-weight: 700;
}
.explanation ul {
  padding: 0px 10px;
}
.explanation ul li {
  height: 60px;
  margin: 20px 0px;
  box-shadow: 0px 5px 5px #e7e7e7;
  background-color: #f5f5f5;
  border-radius: 15px;
}
.explanation ul li .dot {
  position: relative;
  left: -10px;
}
.explanation ul li i {
  width: 35px;
  margin-left: 5px;
  color: #747574;
}
.explanation ul li p {
  font-size: 14px;
  font-weight: 500;
}
.explanation ul li:hover {
  background-color: #f3ebfe;
}
.explanation ul li:hover i {
  color: #9356DC;
}

.explore {
  padding: 30px;
  background-color: #f5f5f5;
}
.explore h1 {
  text-align: center;
  width: 230px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 700;
}
.explore p {
  text-align: center;
  width: 300px;
  margin-bottom: 20px;
  color: #303030;
  font-size: 16px;
  font-weight: 300;
}

.geolocation {
  height: 40px;
  box-shadow: inset 0px 2px 2px #cecece;
  background-color: #e7e7e7;
  color: #303030;
  font-size: 14px;
  font-weight: 500;
}
.geolocation i {
  width: 25px;
}
.geolocation__filler {
  width: 25px;
}

.restaurants {
  padding: 30px 15px;
  background-color: #f5f5f5;
}
.restaurants h1 {
  font-size: 20px;
  font-weight: 700;
}
.restaurants ul li {
  position: relative;
  margin: 20px 0px;
}
.restaurants ul li .new-restaurant::before {
  content: "Nouveau";
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 10px;
  border-radius: 2px;
  background-color: #9adecb;
  color: #277d5e;
  font-size: 11px;
  font-weight: 500;
}
.restaurants ul li figure {
  border-radius: 15px;
  box-shadow: 0px 7px 7px #e7e7e7;
  background-color: white;
}
.restaurants ul li figure img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.restaurants ul li figure figcaption {
  padding: 10px;
}
.restaurants ul li figure figcaption div h2 {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: 600;
}
.restaurants ul li figure figcaption div p {
  font-size: 13px;
  font-weight: 300;
}
.restaurants ul li figure figcaption i {
  margin-right: 10px;
  font-size: 20px;
}

.menu-image {
  height: 200px;
}
.menu-image img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */