$explanation-vertical-padding: 30px;
$explanation-horizontal-padding: 15px;
$list-horizontal-padding: 10px;
$list-element-height: 60px;
$list-element-radius: 15px;
$list-element-vertical-margin: 20px;
$icon-width: 35px;

.explanation {
    @extend %flex-column-start-stretch;
    padding: $explanation-vertical-padding $explanation-horizontal-padding;

    @media screen and (min-width: 1080px) {
        padding: $explanation-vertical-padding 0px;
    }

    h1 {
        @include big-title;
    }

    ul {
        padding: 0px $list-horizontal-padding;

        @media screen and (min-width: 1080px) {
            padding: 0px 0px 0px $list-horizontal-padding;
        }

        li {
            @extend %flex-row-start-center;
            height: $list-element-height;
            margin: $list-element-vertical-margin 0px;
            
            box-shadow: 0px 5px 5px $light-grey-2;
    
            background-color: $light-grey-3;
            border-radius: $list-element-radius;
    
            .dot {
                position: relative;
                left: -10px;
            }
    
            i {
                width: $icon-width;
                margin-left: 5px;
                color: $dark-grey-2;
            }
    
            p {
                font-size: 14px;
                font-weight: 500;
            }
    
            &:hover {
                background-color: $primary-color-lighter;
    
                i {
                    color: $primary-color;
                }
            }
        }
    }
}