$geolocation-height: 40px;
$icon-width: 25px;

.geolocation {
    @extend %flex-row-center-center;
    height: $geolocation-height;

    box-shadow: inset 0px 2px 2px $light-grey-1;

    background-color: $light-grey-2;
    color: $dark-grey-1;
    
    font-size: 14px;
    font-weight: 500;

    i {
        width: $icon-width;
    }

    &__filler {
        width: $icon-width;
    }
}
