$menu-image-height: 200px;

.menu-image {
    height: $menu-image-height;

    @include tablet-size {
        height: $menu-image-height * 2;
    }
    
    img {
        width: 100%;
        height: $menu-image-height;
        object-fit: cover;

        @include tablet-size {
            height: $menu-image-height * 2;
        }
    }
}