$menu-list-before-height: 25px;
$menu-list-border-radius: 30px;

.menu-list {
    @extend %flex-column-start-stretch;
    position: relative;
    padding: 0px 15px;
    
    background-color: $light-grey-3;

    &::before {
        content: "";
        position: absolute;
        top: -$menu-list-before-height;
        left: 0px;
        width: 100%;
        height: $menu-list-before-height;

        background-color: $light-grey-3;
        border-radius: $menu-list-border-radius $menu-list-border-radius 0px 0px;
    }


    &__header {
        @extend %flex-row-space-between-center;
        margin-bottom: 30px;

        @include title-font;

        h1 {
            font-size: 24px;
            font-weight: 500;
        }

        button {
            margin-right: 20px;
            background-color: $light-grey-3;
        }
    }

    &__items {
        margin-bottom: 30px;
        
        h2 {
            position: relative;
            margin-bottom: 20px;

            color: $dark-grey-1;
            text-transform: uppercase;
            font-size: 14px;

            &::after {
                content: "";
                position: absolute;
                bottom: -7px;
                left: 0px;
                width: 40px;
                border-bottom: solid 3px $tertiary-color;
            }
        }

        &__item {
            @extend %flex-row-start-center;
            height: 65px;
            margin: 10px 0px;
            overflow: hidden;
            cursor: pointer;

            border-radius: 10px;
            box-shadow: 0px 7px 7px $light-grey-2;

            background-color: white;

            &__content {
                @extend %flex-column-space-between-stretch;
                flex-grow: 1;
                height: 100%;
                padding: 15px 5px 15px 15px;

                overflow: hidden;

                h3 {
                    @include hide-text;
                    font-size: 14px;
                    font-weight: 500;
                }
    
                p {
                    @include hide-text;
                    font-size: 12px;
                    font-weight: 300;
                }
            }

            &__amount {
                @extend %flex-column-end-center;
                height: 100%;
                padding: 15px 15px 15px 5px;

                font-size: 14px;
                font-weight: 500;
            }

            &__select {
                @extend %flex-row-center-center;
                width: 60px;
                height: 100%;
                margin: 0px -60px 0px 0px;
                transition: margin 250ms ease-in-out;

                background-color: $tertiary-color;

                i {
                    font-size: 22px;
                    color: white;
                }
            }

            &:hover {
                .menu-list__items__item__select {
                    margin: 0px 0px 0px 0px;

                    i {
                        animation: select 150ms ease-in-out 100ms;
                    }
                }
            }
        }
        
        @for $i from 1 through 10 {
            &:nth-child(#{$i}) {
                @for $j from 1 through 10 {
                    & .menu-list__items__item:nth-child(#{$j}) {
                        $delay: $i * 500 + $j * 150 - 1000ms;
                        animation: loading 700ms ease-in-out $delay backwards;
                    }
                }
            }
        }
    }

    &__order {
        @extend %flex-column-start-center;
        margin-bottom: 30px;

        button {
            padding: 0px 40px;
        }
    }
}

@keyframes select {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        opacity: 0%;
        transform: translateY(10px);
    }
    100% {
        opacity: 100%;
        transform: translateY(0px);
    }
}
