
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;

$grey-1-color: #303030;
$grey-2-color: #cecece;
$grey-3-color: #e7e7e7;
$grey-4-color: #f5f5f5;
$grey-5-color: #FFFFFF;
