
$primary-color: #9356DC;
$primary-color-lighter: #f3ebfe;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$tertiary-color-darker: #277d5e;

$dark-grey-1: #303030;
$dark-grey-2: #747574;
$light-grey-1: #cecece;
$light-grey-2: #e7e7e7;
$light-grey-3: #f5f5f5;
