// le directory base/ contient les fichiers qui définissent les fondations de votre site, par exemple la police de caractères et les normes que vous voulez appliquer sur tout votre site, telles que le box-sizing ;

// Shrikhand
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$logo-font: 'Shrikhand';
$titles-font: 'Shrikhand';
$text-font: 'Roboto';

@mixin logo-font {
    font-family: $logo-font, 'Courier New', Courier, monospace;
}

@mixin titles-font {
    font-family: $titles-font, 'Courier New', Courier, monospace;
}

@mixin text-font {
    font-family: $text-font, 'Courier New', Courier, monospace;
}
