$header-height: 60px;
$icon-height: 16px;
$icon-left-padding: calc(($header-height - $icon-height) / 2);
$icon-width: 15%;
$logo-height: 30px;
$logo-width: calc(100% - ($icon-width * 2));

.header {
    @extend %flex-row-center-stretch;
    height: $header-height;

    &__icon {
        @extend %flex-row-start-center;
        width: $icon-width;
        padding-left: $icon-left-padding;
        color: $dark-grey-1;
    }

    &__logo {
        @extend %flex-row-center-center;
        width: $logo-width;

        img {
            height: $logo-height;
        }
    }

    &__filler {
        width: $icon-width;
    }
}
