$header-height: 60px;
$arrow-height: 16px;
$arrow-left-padding: calc(($header-height - $arrow-height) / 2);
$arrow-width: 15%;
$logo-height: 30px;
$logo-width: calc(100% - ($arrow-width * 2));

.header {
    @extend %flex-row-center-stretch;
    height: $header-height;
    box-shadow: 0px 2px 3px $grey-2-color;

    &__arrow {
        @extend %flex-row-start-center;
        width: $arrow-width;
        padding-left: $arrow-left-padding;
        color: $grey-1-color;
    }

    &__logo {
        @extend %flex-row-center-center;
        width: $logo-width;

        img {
            height: $logo-height;
        }
    }

    &__filler {
        width: $arrow-width;
    }
}
